@font-face {
    font-family: Lora;
    src: url("Lora-VariableFont_wght.ttf")
}

#nav_menu ul {
    list-style-type: none;
    position: relative;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    text-transform: uppercase;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align:center;
    display:block;
    width:200px;
    padding: 1em 0;
    text-decoration: none;
    background-color: #f1c232;
    color: #073763;
    font-weight:bold;
    font-family: Lora, serif;
    border-right: 2px solid #fafafa;
    border-left: 2px solid #fafafa;
}

#nav_menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    text-transform: capitalize;
}

#nav_menu ul ul li {
    float:none;
    margin-left:-40px;
    padding-top:1px;
}

#nav_menu ul li:hover > ul {
    display:block;
}

#nav_menu > ul::after {
    content:"";
    display:block;
    clear:both;
}

.zoom { 
    transition: transform .2s; 
} 

.zoom:hover { 
    -ms-transform: scale(1.25); 
    -webkit-transform: scale(1.25); 
    transform: scale(1.25); 
} 