nav ul {
    list-style-type: none;
    margin: 25px;
    padding: 30px;
    border: 5px solid #f1c232;
    background-color: #f1c232;
    display: block;
    position: relative;
}

nav ul li {
    padding: 15px;
    justify-content: center;
    align-content: center;
    display: inline-block;
    font-family: Calibri, sans-serif;
}

nav ul ul {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%;
    color: #073763;
}

nav ul ul li {
    padding: 15px;
    justify-content: center;
    font-family: Calibri, sans-serif;
    float: none;
}

nav ul li:hover > ul {
    display: block;
}