/* general styling */
@font-face {
    font-family: Lora;
    src: "Lora-VariableFont_wght.ttf"
}

body {
    background-color: #fafafa;
    width: auto;
    height: auto;
}

header {
    font-family: Lora, serif;
}

h1 {
    margin-left: 50px;    
    color: #073763;
}

h3 {
    margin-left: 25px;
    color: #073763
}

main h3 {
    font-family: Lora, serif;
}

/* INDEX */

#index {
    width: auto;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

#welcome {
    width: auto;
     height: auto;
     float: left;
     flex-grow: 1.5; 
 }

 #welcome p {
    border-style: none;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 3px;
    font-family: Lora, serif;
    /* font-size: 21px; */
    float: left;
}

#openbook {
    /* width: 250px;
    height: 300px; */
    text-align: center;
    align-items: center;
    float: right;
    padding-top: 15px;
    flex-grow: 1;
}

#openbook img {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 300px;
    height: 200px;
    padding: 20px;
}

/* ABOUT */

#about-me {
    width: auto;
    height: 500px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

#about {
    width: auto;
    height: auto;
    float: left;
    flex-grow: 1.5; 
}

#about p {
    border-style: none;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 3px;
    font-family: Lora, serif;
    float: left;
}

#about blockquote {
    position: relative;
    float: left;
}

#resume {
    width: 250px;
    height: 300px;
    text-align: center;
    align-items: center;
    float: right;
    padding-top: 15px;
    flex-grow: 1;
}

#resume img {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 200px;
    height: 200px;
    padding: 20px;
}

#resume span {
    display: block;
    margin: 5px;
}

/* PROJECTS */

#projects {
    width: auto;
    height: 2000px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

/* project one */

#project1 {
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#SLO1-about {
    width: auto;
    height: auto;
    float: left;
    flex-grow: 1.5;
}

#SLO1-about p {
    border-style: none;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 3px;
    font-family: Lora, serif;
}

#SLO1-link {
    width: 400px;
    height: 300px;
    text-align: center;
    align-items: center;
    float: right;
    padding-top: 15px;
    flex-grow: 1;
}

#SLO1-link img {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 350px;
    height: 250px;
    padding: 10px;
    border: 2px solid #073763
}

#SLO1 span {
    display: block;
    margin: 5px;
}

/* project two */

#project2 {
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#SLO2-about {
    width: auto;
    height: auto;
    float: left;
    flex-grow: 1.5;
}

#SLO2-about p {
    border-style: none;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 3px;
    font-family: Lora, serif;
}

#SLO2-link {
    width: 400px;
    height: 300px;
    text-align: center;
    align-items: center;
    float: right;
    padding-top: 15px;
    flex-grow: 1;
}

#SLO2-link img {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 350px;
    height: 250px;
    padding: 10px;
    border: 2px solid #073763
}

#SLO2 span {
    display: block;
    margin: 5px;
}

/* project three */

#project3 {
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#SLO3-about {
    width: auto;
    height: auto;
    float: left;
    flex-grow: 1.5;
}

#SLO3-about p {
    border-style: none;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 3px;
    font-family: Lora, serif;
}

#SLO3-link {
    width: 400px;
    height: 300px;
    text-align: center;
    align-items: center;
    float: right;
    padding-top: 15px;
    flex-grow: 1;
}

#SLO3-link img {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 350px;
    height: 250px;
    padding: 10px;
    border: 2px solid #073763
}

#SLO3 span {
    display: block;
    margin: 5px;
}

/* project four */

#project4 {
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#SLO4-about {
    width: auto;
    height: auto;
    float: left;
    flex-grow: 1.5;
}

#SLO4-about p {
    border-style: none;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 3px;
    font-family: Lora, serif;
}

#SLO4-link {
    width: 400px;
    height: 300px;
    text-align: center;
    align-items: center;
    float: right;
    padding-top: 15px;
    flex-grow: 1;
}

#SLO4-link img {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 350px;
    height: 250px;
    padding: 10px;
    border: 2px solid #073763
}

#SLO4 span {
    display: block;
    margin: 5px;
}


/* REFLECTION */

#personal-reflection {
    width: auto;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#library {
    width: auto;
    height: auto;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
}

#library img {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 950px;
    height: 300px;
    padding: 10px;
}

#reflection {
    width: auto;
     height: auto;
     float: left;
     flex-grow: 1.5; 
 }

 #reflection p {
    border-style: none;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: Lora, serif;
    float: left;
}

#first::first-letter {
    font-weight: bolder;
    font-size: 150%;
}

#indent {text-indent: 25px;}


/* general footer styling */
#footer {
    display: flex;
    width: 100%;
    height: auto;
    line-height: 25%;
    position: static;
    bottom: 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    background-image: url(alexander-grey-eMP4sYPJ9x0-unsplash.jpg);
}

#footer div {
    display: block;
    align-content: center;
    justify-content: center;
}

#footer img {
    width: 30px;
    height: 30px;
    align-content: center;
    justify-content: center;
}

#footer p {
    display: inline-block;
    font-size: smaller;
    font-family: Lora, serif;
    color: #000;
    align-items: center;
    justify-content: center;
}

/* media queries */

@media (max-width:600px) {
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        font-family: serif !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    nav {
        display: none; 
    }
    header {
        margin-bottom: 0;
        border: none;
        text-align: center;
        font-family: Lora, serif;   
    }
    a[href^="http:"]::after {
        content: " {" attr(href)"}";
        color: blue; 
    }
    @page {
        margin: 1in;
    }
}
