body {
    background-color: #fafafa;
    width: auto;
    height: auto;
}

header {
    font-family: Calibri, sans-serif;
}

h1 {
    margin-left: 50px;    
    color: #073763;
}

h3 {
    margin-left: 25px;
    color: #073763
}

main h3 {
    font-family: Calibri, sans-serif;
}

main p#first::first-letter {
    font-weight: bolder;
    font-size: 150%;
}

main p#indent {text-indent: 25px;}

#about-me {
    width: auto;
    height: 500px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

#about {
   width: auto;
    height: auto;
    float: left;
    flex-grow: 1.5; 
}

#about p {
    border-style: none;
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 3px;
    font-family: Calibri, sans-serif;
    float: left;
}

#about blockquote {
    position: relative;
    float: left;
}

#resume {
    width: 250px;
    height: 300px;
    text-align: center;
    align-items: center;
    float: right;
    padding-top: 15px;
    flex-grow: 1;
}

#resume img {
    display: inline-block;
    position: relative;
    margin: 5px;
    width: 200px;
    height: 200px;
    padding: 20px;
}

#resume span {
    display: block;
    margin: 5px;
}

footer {
    width: 100%;
    position: static;
    align-items: center;
    justify-content: center;
    
}

footer p {
    font-size: smaller;
    font-family: Calibri, sans-serif;
    text-align: center;
}
